name: first-workflow
on:
  push:
    branches: ["main"]

    workflow_dispatch:

jobs:
  sample-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Printing
        run: echo "Hello world!"
